body {
  font-family: 'Merriweather', serif;
}

h1, h2, legend {
  font-size: 1.75rem;
  font-weight: bold;
}
p, label {
  font-size: 1.30rem;
  color: gray;
}

input, select, textarea {
  background-color: #e0e0e0;
  border-style: none;
  border-radius: 5px;
}

input:focus {
  outline: none;
  border-bottom: 5px solid darkblue;
}
textarea:focus {
  outline: none;
  border-bottom: 5px solid darkblue;
}


/*---header----*/
header h1 {
  margin-top: 0;
  padding: 40px;
  text-align: center;
  background-color: darkblue;
  color: white;
}

.head-title {
  text-align: center;
  padding: 5px 25px 30px 25px;
}


/*---main----*/
main {
  padding: 0 20px;
}

form {
  position: relative;
  border-top: darkblue 3px solid;
}
form:before {
  position: absolute;
  top: -0.7rem;
  left: 0rem;
  right: 0rem;
  border-top: darkblue 5px solid;
  content: '';
}

.fieldset-1, .fieldset-2 {
  margin: 35px 0;
  border: none;
}


/*---main-field1---*/
legend {
  margin-bottom: 25px;
}

.name, .zip {
  display: flex;
  flex-direction: column;
  line-height: 80px;
}

#name::placeholder {
  text-align: right;
  margin-right: 20px;
}
#email::placeholder {
  text-align: right;
  margin-right: 20px;
}

#phone::placeholder {
  text-align: right;
  margin-right: 20px;
}

#address::placeholder {
  text-align: right;
  margin-right: 20px;
}
#city::placeholder {
  text-align: right;
  margin-right: 20px;
}




.fieldset-1 {
  border-bottom: darkblue 3px solid;
}
.zip {
  margin-bottom: 50px;
}

/*---main-field2---*/
.fieldset-2 {
  margin-top: 40px;
  line-height: 40px;
}

input[type=checkbox], [type=radio] {
  transform: scale(1.3);
  margin-right: 15px;
}

button {
  width: 100%;
  height: 90px;
  background-color: darkturquoise;
  font-size: 1.75rem;
  font-weight: bold;
  color: white;
  border-style: none;
  border-radius: 5px;
}

/*---footer----*/
footer {
  text-align: center;
  margin-top: 40px;
  font-style: italic;
}

@media screen and (min-width: 768px) {
  h1, h2, legend {
    font-size: 1.5rem;
  }
  p, label {
    font-size: 0.85rem;
  }
  legend {
    font-size: 1.25rem;
  }
  header h1 {
    padding: 20px 0;
  }
  

  .head-title, main, footer {
    max-width: 600px;
    margin: auto;
  }

  
  label {
    width: 25%;
  }
  input {
    width: 70%;
  }
  .name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .zip {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .zip label {
    width: 115px;
  }


  .fieldset-2 {
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .fieldset-2 legend {
    margin-bottom: 5px;
  }
  .fieldset-2 input {
    width: auto;
  }
  input[type=checkbox], [type=radio] {
    transform: scale(1);
    margin-right: 15px;
  }
  button {
    height: 50px;
    font-size: 1rem;
    margin-bottom: 20px;
  }

  
  
}





