body {
  font-family: 'Merriweather', serif;
}

h1, h2, legend {
  font-size: 1.75rem;
  font-weight: bold;
}
p, label {
  font-size: 1.30rem;
  color: gray;
}

/*---header----*/
header h1 {
  margin-top: 0;
  padding: 40px;
  text-align: center;
  background-color: darkblue;
  color: white;
}

.head-title {
  text-align: center;
  padding: 5px 25px 30px 25px;
}

/*---main----*/
main {
  padding: 0 20px;
}

form {
  position: relative;
  border-top: darkblue 3px solid;
}
form:before {
  position: absolute;
  top: -0.7rem;
  left: 0rem;
  right: 0rem;
  border-top: darkblue 5px solid;
  content: '';
}

.fieldset-1, .fieldset-2 {
  margin: 35px 0;
  border: none;
}
legend {
  margin-bottom: 25px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  line-height: 80px;
}

input, select {
  background-color: #e0e0e0;
  border-style: none;
}

#name::placeholder {
  text-align: right;
  margin-right: 20px;
}
#email::placeholder {
  text-align: right;
  margin-right: 20px;
}

